{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block links %}
<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">
<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/cover.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<main role="main" class="container" style="padding: 60px 15px 0">
<div class="text-center cover-container d-flex h-100 p-3 mx-auto flex-column">
  <main role="main" class="container">
    <h1 class="cover-heading">Корпус CAT&ampKittens</h1>
    <h3>К какому ресурсу вы хотите обратиться?</h4>

      <div class="section">
        <p class="guidelines">Проверьте, насколько ваш текст соответствует правилам академического стиля</p>
        <a role="button" class="btn btn-sm btn-outline-dark links check" href="{{ url_for('render_upload_file') }}">Проверка стиля</a>
      </div>
      <div class="section">
        <p class="guidelines">Поищите устойчивые словосочетания по нашему корпусу и отсортируйте их по разным метрикам</p>
        <a role="button" class="btn btn-sm btn-outline-dark links collocations" href="{{ url_for('collocations') }}">Поиск устойчивых словосочетаний</a>
      </div>
      <div class="section">
        <p class="guidelines">Поищите словоформы и леммы по нашему корпусу и узнайте, в каких частотных сочетаниях они используются</p>
        <a role="button" class="btn btn-sm btn-outline-dark links search" href="{{ url_for('search') }}">Поиск по корпусу</a>
      </div>

  </main>

  <footer class="mastfoot mt-auto custom-footer">
    <span class="text-muted">
      <img class="cat-image" src="{{ url_for('static', filename='img/cat9.jpg') }}" />
      <img class="cat-image" src="{{ url_for('static', filename='img/cat2.jpg') }}" />
      <img class="cat-image" src="{{ url_for('static', filename='img/cat6.jpg') }}" />
    </span>
  </footer>
</div>
{% endblock %}
