{% extends 'base.html' %}
{% block title %}Проверка стиля текста{% endblock %}

{% block links %}
<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/">
  <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/sticky-footer-navbar.css') }}" rel="stylesheet">
  {% endblock %}

  {% block content %}
  <main role="main" class="container">
    <h1 class="mt-5">Информация о корпусе</h1>
    <div class="info">
      <h3>Данные</h3>


      <p>Корпус состоит из 3599 текстов статей из научных журналов. Мы использовали журналы, публикации в которых учитываются при назначении академических надбавок в НИУ ВШЭ.<br>Корпус разделен на домены - подкорпуса текстов по определенной дисциплине:</p>
      <div class="list-and-size">
        <ul>
          <li>Экономика - 600 текстов</li>
          <li>Юриспруденция - 600 текстов</li>
          <li>Лингвистика - 601 текст</li>
          <li>Педагогика и психология - 598 текстов</li>
          <li>История - 600 текстов</li>
          <li>Социология - 600 текстов</li>
        </ul>
      </div>
        <p>Ученические тексты можно сравнивать как с общенаучным дискурсом, так и со статьями выбранного домена. <br> Источниками текстов являются научные журналы. Чтобы в корпус не попали статьи низкого качества, мы использовали только журналы, публикация в которых учитывается при начислении академической надбавки в НИУ ВШЭ.</p>

        <h3>Объём корпуса</h3>
        <p>Общий объём составляет порядка 2 млн. токенов.</p>

    </div>


    <h3>Разметка</h3>
    <p>Деление на токены и предложения, а также морфологическая и синтаксическая аннотация корпуса осуществлялись
      автоматически посредством пайплайна UDPipe.</p>

    <h3>Связанные ресурсы</h3>
    <p> На сайте представлены ресурсы, созданные с использованием корпуса: поиск коллокаций и инструмент для выявления в тексте стилистических ошибок. <br>
      На данный момент доступны следующие проверки:</p>
      <div class="list-and-size">
        <ul>
          <li>Не представленные в корпусе словоформы (неакадемичная лексика или неверно образованные словоформы)</li>
          <li>Повторы фрагментов текста</li>
          <li>Длинные последовательности генетивов</li>
          <li>Ошибки в образовании формы сравнительной степени</li>
          <li>Смешение употребления “я” и “мы”</li>
        </ul>
      </div>


    <h3>Разработчики</h3>
    <p>Преподаватели: Михаил Копотев (Хельсинкский университет), Олеся Кисселев (Университет Техаса в Сан-Антонио),
      Наталья Зевахина, Светлана Толдова (НИУ ВШЭ)</p>
    <p>Студенты магистерской программы "<a href='https://www.hse.ru/ma/ling/'>Компьютерная лингвистика</a>" НИУ ВШЭ</p>
    <p>Студенты 2017-2019: Анастасия Баранчикова, Анна Дмитриева, Александр Климов, Станислав Краснов, Мария Фёдорова</p>
    <p>Студенты 2019-2021: Елизавета Носова, Мария Килина, Андреа Грилланди, Гадир Херуллах</p>
    </div>

    <a href="https://github.com/hseling/hseling-repo-cat-and-kittens"><h3>Ссылка на Github проекта</h3></a>
  </main>

  <footer class="footer">
    <div class="container custom-footer">
      <span class="text-muted">
        <img class="cat-image" src="{{ url_for('static', filename='img/cat3.jpg') }}" />
      </span>
    </div>
  </footer>

{% endblock %}
