Flask
nltk
requests
uuid
charset_normalizer
numpy
pandas
mysql
conllu
ufal.udpipe
flask-mysqldb
flask_sqlalchemy
flask-wtf
flask-login
email-validator
flask-mail
pymysql
Flask-Migrate
Flask-Cors
mysqlclient
SQLAlchemy
pika
Flask-Script
lxml
html5lib
beautifulsoup4
jsonrpclib-pelix